# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Development tool directories
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
web_modules/

# Dependency directories
node_modules/
jspm_packages/

# Cache files
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache

# REPL history
.node_repl_history

# Build output
*.tgz
out
.nuxt
dist
!dist/s-update-manager-*.tgz

# Environment files
.env*
!.env.example

# Framework-specific directories
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/

# Editor and IDE files
.vscode-test
.idea/
*.swp
*.swo
*~

# Package manager files
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Project-specific directories
upload/
sum/
temporary/
.sum/

# Pliki mock
/mock/mockTemplate/templateCatalog/**/*
/mock/mockTemplate/templateCatalog/*
/mock/mockTemplate/tools/**
/mock/mockTemplateWithImage/tools/*
/mock/mockTemplateWithImage/templateCatalog/**/*
/mock/mockTemplateWithImage/templateCatalog/*
/mock/mockTemplateWithImage/tools/**
/mock/mockTemplateToUpdate/tools/**
/mock/mockTemplateToUpdate/tools/**
!/mock/mockProjectToBuild/.sum
!/mock/mockProjectToBuild/.sum/*
!/mock/mockProjectToBuild/.sum/**
!/mock/mockProjectToBuild/.sum/**/*

# Pliki testowe
/test/*



# Project-specific directories
!template/create-react-app-main/templateCatalog
!template/create-react-app-main/templateCatalog/*
!template/create-react-app-main/templateCatalog/**
!template/create-react-app-main/templateCatalog/**/*
!template/create-react-app-main/repositoryMap.json

# Compiled code
lib/

# Temporary and generated files
.tmp
*.bak
*.backup
*.old



# OS-specific files
.DS_Store
Thumbs.db
